{#
/**
 * @file
 * Markup structure for 'representative_block'.
 *
 * Variables:
 * - block_title: Block title for anonymous user.
 * - block_body: Block body for anonymous user.
 */
#}

<div id="my-custom-block">
  <h2 id="representative-block-title">{{ block_title }}</h2>
  <div id="representative-block-body">{{ block_body }}</div>
</div>
